{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<section class="myCart container section">
  {# <!--==================== myCART ====================--> #}
  <div class="myCart">
    
    <h2 class="cart_title-center">Mon panier</h2>

    <div class="cart_container">
        {% for product in data %}          
                  
        
        <article class="cart_card">
            <div class="cart_box">
                <img src="{{ asset('img/'~ product.bike.image.frame) }}" alt="" class="cart_img">
            </div>

            <div class="cart_details">
                <h3 class="cart_title">{{ product.bike.nameBike }}</h3>
                <span class="cart_price">{{ product.bike.priceBike }} €</span>

                <div class="cart_amount">
                    <div class="cart_amount-content">
                        <span class="cart_amount-box">
                            <a href="{{ path('remove_product', {'id': product.bike.id }) }}"><i class='bx bx-minus' ></i></a>
                        </span>
                        <span class="cart_amount-number">{{ product.quantity }}</span>
                        <span class="cart_amount-box">
                           <a href="{{ path('add_product', {'id': product.bike.id }) }}"> <i class='bx bx-plus' ></i></a>
                        </span>
                    </div>

                    <a href="{{ path('delete_product', {'id': product.bike.id }) }}"><i class='bx bx-trash-alt cart_amount-trash' ></i></a>
                </div>
            </div>
            <div class="cart_subTotal">sous-total : <span class="cart_price">{{ product.quantity * product.bike.priceBike }}</span></div>
        </article>        
        {% else %}
        <div class="cart_amount-box">Votre panier est vide - remplissez le !</div>
        {% endfor %}
        {% if data | length > 0 %} 
        <div class="cart_prices">
            <span class="cart_prices-item">{{ data | length }} articles pour {{ totalQuantity }} produits au total </span>
            <span class="cart_prices-total">Prix total : {{ total }}€</span>
            <a class="button" href="{{ path('empty_cart') }}">Vider le panier</a>
        </div>
        <a href="">Validez le panier</a>
        {% endif %}
        
    </div>

    
</div>  

</section>
{% endblock %}
