{% extends 'base.html.twig' %}

{% block title %}Bikes3R Vente{% endblock %}

{% block body %}
<!--==================== HOME ====================-->
 <section class="home section container" id="home">
    <div class="hero-image">
        <div class="home_data">
            <h1 class="home_title">Vélos simples robustes <br> rapides</h1>
            <p class="home_description">
                Roulez avec un maximum de plaisir et sans prise de tête !!
            </p>
                <a href="#products" class="home_button">
                    Découvrez nos vélos
                </a>
            </div>
        </div>
    </div>
 </section>    
<!--==================== NEW ====================-->
<section class="new section container" id="new">
    <h2 class="section_title">
        Les nouveautés
    </h2>
    
    <div class="new_container">
        <div class="swiper new-swiper">
            <div class="swiper-wrapper">
                {% for bike in newbikes %}
                <article class="new_card swiper-slide">
                    <span class="new_tag">New</span>

                    <img src="{{ asset('img/'~ bike.image.frame) }}" alt="{{ bike.nameBike }}" class="new_img">

                    <div class="new_data">
                        <h3 class="new_title">{{ bike.nameBike }}</h3>
                        <span class="new_price">{{ bike.priceBike }} €</span>
                    </div>

                    <a href="{{ path('addFromHome_product', {'id': bike.id }) }}" class="button new_button">AJOUTER AU PANIER</a>
                </article>
                {% endfor %}

                                       
            </div>
        </div>
    </div>
</section>
<!--==================== PRODUITS ====================-->
<section class="products section container" id="products">
    <h2 class="section_title">
        Nos Vélos
    </h2>

    <div class="products_container grid">
        {% for bike in bikes %}
        <article class="products_card">
            <img src="{{ asset('img/'~ bike.image.frame) }}" alt="{{ bike.nameBike }}" class="products_img">

            <h3 class="products_title">{{ bike.nameBike }}</h3>
            <span class="products_price">{{ bike.priceBike }} €</span>

            <button class="products_button">
                <i class='bx bx-shopping-bag'></i>
            </button>
        
        </article>
        {% endfor %}
     <a href="{{ path('list_bike') }}" class="button">Liste des vélos</a>   
    </div>
</section>
<!--==================== NEWSLETTER ====================-->
<section class="newsletter section container">
    <div class="newsletter_bg grid">
        <div>
            <h2 class="newsletter_title">Recevez nos <br> Actualités</h2>
            <p class="newsletter_description">
                Inscrivez-vous si vous souhaitez être informé de nos dernières nouveautés et mises à jour
            </p>
        </div>

        <form action="" class="newsletter_subscribe">
            <input type="email" placeholder="Entrer votre email" class="newsletter_input">
            <button class="button">
                INSCRIPTION
            </button>
        </form>
    </div>
</section> 

{% endblock %}
