{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="register section container" id="register">
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<h1>Inscription</h1>

{{ form_errors(registrationForm) }}

{{ form_start(registrationForm) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword, {
    label: 'Mot de passe'
}) }}
<p>
{{ form_row(registrationForm.agreeTerms, {
    label: 'Accepter nos conditions'
}) }} <a href="{{ path('app_privacy') }}" class="footer_link">Voir notre politiqque de confidentialité </a>
 </p>   
<button type="submit" class="btn btn-outline-secondary mt-1">Valider</button>
{{ form_end(registrationForm) }}
</section>
{% endblock %}
