{% extends 'base.html.twig' %}

{% block title %}liste velos{% endblock %}

{% block body %}
<section class="admin section container" id="admin">
    <h1>liste des vélos</h1>
    <div class="table table-responsive-lg" >
    <table >
        <thead>
            <tr>
                <th>Id</th>
                <th>ReferenceBike</th>
                <th>NameBike</th>
                <th>DescriptionBike</th>
                <th>PriceBike</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bike in bikes %}
            <tr>
                <td>{{ bike.id }}</td>
                <td>{{ bike.referenceBike }}</td>
                <td>{{ bike.nameBike }}</td>
                <td>{{ bike.descriptionBike }}</td>
                <td>{{ bike.priceBike }}</td>
                <td>
                    <a href="{{ path('app_bike_show', {'id': bike.id}) }}">show</a>
                    <a href="{{ path('app_bike_edit', {'id': bike.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="{{ path('app_bike_new') }}">Create new</a>
</section>
{% endblock %}
