<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        {# imported css library #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        
        {# =============== FAVICON =============== #}
        <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">

        {# =============== BOXICONS =============== #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        {# =============== SWIPER CSS ===============  #}
        {# <link rel="stylesheet" href="{{ asset('css/swiper-bundle.min.css') }}"> #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        {# asset : contain path to custom css #}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}
        
    </head>
    
    <body>
        {# ==================== HEADER ==================== #}
    <header class="header" id="header">
        <nav class="nav container">
            <a href="{{ path('app_home') }}" class="nav_logo">
                <i class='bx bx-cycling nav_logo-icon' ></i> Bikes3R
            </a>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{{ path('app_home') }}" class="nav_link active-link">Accueil</a>
                    </li>
                    <li class="nav_item">
                        <a href="#new" class="nav_link">New</a>
                    </li>
                    <li class="nav_item">
                        <a href="{{ path('list_bike') }}" class="nav_link">Nos Vélos</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav_item">
                        <a href="{{ path('app_bike_index') }}" class="nav_link">Liste vélos</a>
                    </li>
                    {% endif %}
                </ul>

                <div class="nav_close" id="nav-close">
                    <i class='bx bx-x' ></i>
                </div>
            </div>

            <div class="nav_btns">
                {% if app.user %}
                <a href="{{ path('app_logout') }}" ><i class='bx bx-log-out-circle bx-md'></i></a>
                {% else %}
                <a href="{{ path('app_register') }}" ><i class='bx bxs-user-account bx-md' ></i></a>
                <a href="{{ path('app_login') }}" ><i class='bx bx-log-in-circle bx-md'></i></a>
                {% endif %}

                {#  Theme change button  #}
                <i class='bx bx-moon change-theme' id="theme-button"></i>

                <div class="nav_shop" id="cart-shop">
                    <i class='bx bx-shopping-bag' ></i>
                </div>

                <div class="nav_toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt' ></i>
                </div>
            </div>
        </nav>
    </header>

    {# <!--==================== CART ====================--> #}
    <div class="cart" id="cart">
        <i class='bx bx-x cart_close' id="cart-close"></i>

        <h2 class="cart_title-center">Mon panier</h2>

        <div class="cart_container">
            <article class="cart_card">
                <div class="cart_box">
                    <img src="assets/img/featured1.png" alt="" class="cart_img">
                </div>

                <div class="cart_details">
                    <h3 class="cart_title">Jazzmaster</h3>
                    <span class="cart_price">1050€</span>

                    <div class="cart_amount">
                        <div class="cart_amount-content">
                            <span class="cart_amount-box">
                                <i class='bx bx-minus' ></i>
                            </span>

                            <span class="cart_amount-number">1</span>

                            <span class="cart_amount-box">
                                <i class='bx bx-plus' ></i>
                            </span>
                        </div>

                        <i class='bx bx-trash-alt cart_amount-trash' ></i>
                    </div>
                </div>
            </article>
            
            <article class="cart_card">
                <div class="cart_box">
                    <img src="assets/img/featured3.png" alt="" class="cart_img">
                </div>

                <div class="cart_details">
                    <h3 class="cart_title">Rose Gold</h3>
                    <span class="cart_price">850€</span>

                    <div class="cart_amount">
                        <div class="cart_amount-content">
                            <span class="cart_amount-box">
                                <i class='bx bx-minus' ></i>
                            </span>

                            <span class="cart_amount-number">1</span>

                            <span class="cart_amount-box">
                                <i class='bx bx-plus' ></i>
                            </span>
                        </div>

                        <i class='bx bx-trash-alt cart_amount-trash' ></i>
                    </div>
                </div>
            </article>

            <article class="cart_card">
                <div class="cart_box">
                    <img src="assets/img/new1.png" alt="" class="cart_img">
                </div>

                <div class="cart_details">
                    <h3 class="cart_title">Longines Rose</h3>
                    <span class="cart_price">980€</span>

                    <div class="cart_amount">
                        <div class="cart_amount-content">
                            <span class="cart_amount-box">
                                <i class='bx bx-minus' ></i>
                            </span>

                            <span class="cart_amount-number">1</span>

                            <span class="cart_amount-box">
                                <i class='bx bx-plus' ></i>
                            </span>
                        </div>

                        <i class='bx bx-trash-alt cart_amount-trash' ></i>
                    </div>
                </div>
            </article>
        </div>

        <div class="cart_prices">
            <span class="cart_prices-item">3 produits</span>
            <span class="cart_prices-total">2880€</span>
        </div>
    </div>

    {# <!--==================== MAIN ====================--> #}
    <main class="main">
    
        {% block body %}
        {% endblock %}
    </main>
           
        {# <!--==================== FOOTER ====================--> #}
        <footer class="footer section">
            <div class="footer_container container grid">
                <div class="footer_content">
                    <h3 class="footer_title">Informations</h3>

                    <ul class="footer_links">
                        <li>
                            <a href="#" class="footer_link">Qui sommes-nous ?</a>
                        </li>
                        <li>
                            <a href="#" class="footer_link">Paiement sécurisé</a>
                        </li>
                        <li>
                            <a href="#" class="footer_link">Livraisons</a>
                        </li>
                        <li>
                            <a href="#" class="footer_link">CGV</a>
                        </li>
                        <li>
                            <a href="#" class="footer_link">Mentions légales</a>
                        </li>
                        <li>
                            <a href="#" class="footer_link">Confidentialité</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_content">
                    <h3 class="footer_title">Produits</h3>

                    <ul class="footer_links">
                        <li>
                            <a href="#" class="footer_link">SingleSpped Acier</a>
                        </li>
                        <li>
                            <a href="#" class="footer_link">SingleSpped Alu</a>
                        </li>
                    </ul>
                </div>

                <div class="footer_content">
                    <h3 class="footer_title">Service Client</h3>

                    <ul class="footer_links">
                        <li>
                            <a href="#" class="footer_link"><i class='bx bx-question-mark'></i> Notre FAQ</a>
                        </li>
                        <li>
                            <a href="#" class="footer_link"><i class='bx bx-envelope'></i> Contactez-nous</a>
                        </li>
                        
                    </ul>
                </div>

                <div class="footer_content">
                    <h3 class="footer_title">Social</h3>

                    <ul class="footer_social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer_social-link">
                            <i class='bx bxl-facebook'></i>
                        </a>

                        <a href="https://joinmastodon.org/fr" target="_blank" class="footer_social-link">
                            <i class='bx bxl-mastodon'></i>
                        </a>

                        <a href="https://www.instagram.com/" target="_blank" class="footer_social-link">
                            <i class='bx bxl-instagram' ></i>
                        </a>
                    </ul>
                </div>
            </div>

            <span class="footer_copy">&#169; By Doué Bruno </span>
        </footer>
        {# <!--=============== SCROLL UP ===============--> #}
        <a href="#" class="scrollup" id="scroll-up"> 
            <i class='bx bx-up-arrow-alt scrollup_icon' ></i>
        </a>
        {% block javascripts %}
            {# <!--=============== SWIPER JS ===============--> #}
        {# <script src="{{ asset('js/swiper-bundle.min.js') }}"></script> #}
          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            {# <!--=============== MAIN JS ===============--> #}
        <script src="{{ asset('js/main.js') }}"></script>        

          {% endblock %}
    </body>
</html>
