{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
<section  class = "user section container">
    <h1>Votre compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Votre Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>votre Role</th>
                <td>{{ user.roles|json_encode == '["ROLE_USER"]' ? 'Utlisateur normal' : 'Administrateur' }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : 'inconnu' }}</td> #}
            </tr>
            
        </tbody>
    </table>
    <h2>Vos commandes</h2>
    {% for order in orders %}
        <p><a href="{{ path('detail_order', {'id': order.id}) }}">numéro de commande : {{ order.numberOrder }}</a></p>
        <p>date de création : {{ order.dateOrder|date('d-m-Y') }}</p>
    {% else %}
        <p>Pas de commandes enregistrées</p>        
    {% endfor %}
  
    {{ include('user/_anonymise_form.html.twig') }}
    </section>
{% endblock %}
